.test-custom {
    border-bottom-color: #0d6efd !important; /* #0d6efd - sinij #0b5ed7 - dark_sinij*/
}

.test-custom-top {
    border-top-color: #0d6efd !important; /*#0b5ed7*/
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
/* MY STYLES */
/* li - checkbox */
ul .li-pointer:before {
    position: absolute; /**/
    content: '';
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
	margin-left: -30px;
    background: url("../img/arr3.png") no-repeat 0px 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Мои стили для блока 'annotation' */
.lead_p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.0;
  color: #6c757d; /*dark-gray*/
}

.display-7 {
  font-size: calc(1.325rem + 1.0vw);
  font-weight: 300;
  line-height: 1.0;
}

/* Мои стили для блоков 'doing' */
.cardd {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
/*  border: 1px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0.25rem;
  padding: 0.5rem;
  
}

/* top */
#top {
    position :fixed;
    bottom :100px;
    right :5px;
}

.border-block {
    border: 1px solid #dee2e6; /* light-light-blue */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.badge-str {
    text-align: center;
    height: inherit ;
    vertical-align: middle;
}

.row-cols-md-30 > * {
    flex: 0 0 auto;
    width: 30%;
}

